name: Build APK Final
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libffi-dev libssl-dev python3-dev openjdk-17-jdk libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev unzip autoconf automake libtool

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install --user --upgrade cython==0.29.33 virtualenv
          pip install --user https://github.com/kivy/buildozer/archive/master.zip
          pip install --user https://github.com/kivy/python-for-android/archive/master.zip

      - name: Build APK
        run: |
          # FIX THE PATH so it finds buildozer
          export PATH=$PATH:$HOME/.local/bin
          
          # Initialize and Build
          buildozer init
          
          # Force 'yes' to license agreements
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ValentineAPK
          path: bin/*.apk
